body {

}

header {
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  font-family: 'Rock Salt', cursive;
}

.image-row {
  width: 100%;
  display: inline;
  margin: 0 auto;
  text-align: center;
}
.image-div {
  width: auto;
  margin: 0 7%;
  display: inline;
  text-align: center;
}
.image {
  width: 250px;
  height: 250px;
  display: inline;
  text-align: center;
  margin: 0 auto;
  border: 3px solid SkyBlue;
  border-radius: 3%;
}

.paragraph-row {
  text-align: left;
}
.image-para {
  width: 20%;
  margin: 0;
  display: inline;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  font-family: ;
}
#image-1-para {
  position: sticky;
  left: 190px;
  text-align: center;
}
#image-2-para {
  position: sticky;
  left: 610px;
  text-align: center;
}
#image-3-para {
  position: sticky;
  left: 1040px;
  text-align: center;
}

.image:hover {
  cursor: pointer;
}
